
body{
    font-family: 'Avenir', sans-serif;
}

.title{
  background: url(../img/photo.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

select {
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
}

header{
     background: transparent;
    color:maroon; 
    width: 100%;
    position: relative;
    margin-left:20px;
    margin-top: 0px;
    text-align:center;
}

footer{
    background-color: transparent;
    color:white; 
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align:center;
}

h2{
    font-family: 'Avenir', sans-serif;
    font-size: 40px;
    color:maroon;    
}

svg {
  font: 10px 'Avenir';
}

.axis text {
    font: 8px 'Avenir';
}

.axis path {
    fill: none;
}

#global-map path {
    stroke: white;
}

#trend_vis .axis path {
    stroke: #333;
    stroke-width: .5;
}

.axis line {
  stroke: #777;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.grid line {
  stroke: #777;
}

.title {
    font: 13px 'Avenir';
    color: #999;
}

.title1 {
    font: 13px 'Avenir';
    color: #999;
}
    
.l_info
{
    font-weight: bold;
    color:gray;
}

h2{
    font-family: 'PT Sans', sans-serif;
    color:maroon;
}

svg {
    font: 10px sans-serif;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 35px;
    padding: 2px;
    font: 10px sans-serif;
    color: gray;
    background: palegoldenrod;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
}
    
.mapClick {
    fill: green; 
}

#video {
	display: block;
    margin: 0 auto;
    width="500";
    height="313";
    text-align:center;
  }

/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  width:100%;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline;
  margin: 10px;
}


nav a {
  font-weight: 800;
  font-size: 1.5em;
  padding: 20px 10px;
color:gray;
}
