body{
    font-family: 'Avenir', sans-serif;
}

select {
    font-family: 'Avenir', sans-serif;
    font-size: 16px;
}

h2{
    font-family: 'Avenir', sans-serif;
    font-size: 40px;
    color:maroon;    
}

svg {
  font: 10px 'Avenir';
}

.axis text {
    font: 8px 'Avenir';
}

.axis path {
    fill: none;
}

#trend_vis .axis path {
    stroke: #333;
    stroke-width: .5;
}

.axis line {
  stroke: #777;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.grid line {
  stroke: #777;
}

.title {
    font: 13px 'Avenir';
    color: #999;
}

.title {
    font: 13px 'Avenir';
    color: #999;
}

.title1 {
    font: 13px 'Avenir';
    color: #999;
}
    
.l_info
{
    font-weight: bold;
    color:gray;
}

h2{
    font-family: 'PT Sans', sans-serif;
    color:maroon;
}

svg {
    font: 10px sans-serif;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 35px;
    padding: 2px;
    font: 10px sans-serif;
    color: gray;
    background: palegoldenrod;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
}
    
.mapClick {
    fill: green; 
}