body{
    font-family: 'Avenir', sans-serif;
}

.col-map{
    width: 700px;
    height: 500px;
    align: left;
}

h2{
    font-family: 'Avenir', sans-serif;
    color:maroon;
}

svg {
  font: 10px 'Avenir';
}

.axis text {
    font: 8px 'Avenir';
}

.axis path {
  display: none;
}

.axis line {
  stroke: #fff;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.grid line {
  stroke: #777;
}

.title {
  font: 13px 'Avenir';
  color: #999;

.col-map{
    width: 700px;
    height: 500px;
    align: left;
}
    
.l_info
{
    font-weight: bold;
    color:gray;
}
h2{
    font-family: 'PT Sans', sans-serif;
    color:maroon;
}

svg {
  font: 10px sans-serif;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 35px;
    padding: 2px;
    font: 10px sans-serif;
    color: gray;
    background: palegoldenrod;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
}
    
.mapClick {
   fill: green; 
}