body{
    font-family: 'PT Sans', sans-serif;
}
.axis text {
    font: 10px sans-serif;
}

.col-map{
    width: 700px;
    height: 500px;
    align: left;
}

h2{
    font-family: 'PT Sans', sans-serif;
    color:maroon;
}

svg {
  font: 10px sans-serif;
}

.yaxis path {
  display: none;
}

.yaxis line {
  stroke: #fff;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.xaxis path {
  display: none;
}

.xaxis line {
  stroke: #fff;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.barFemale {
  fill-opacity: .6;
  fill: #e377c2;
}

.barMale {
  fill-opacity: .6;
  fill: #1f77b4;
}

