body{
    font-family: 'PT Sans', sans-serif;
}
.axis text {
    font: 8px sans-serif;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #fff;
  stroke-opacity: .2;
  shape-rendering: crispEdges;
}

.grid line {
  stroke: #777;
}

.col-map{
    width: 700px;
    height: 500px;
    align: left;
}

h2{
    font-family: 'PT Sans', sans-serif;
    color:maroon;
}

svg {
  font: 10px sans-serif;
}

.barFemale {
  fill-opacity: .6;
  fill: #f4a582;
}

.barMale {
  fill-opacity: .6;
  fill: #4393c3;
}
